NODE_ENV=development
PORT=3002
APP_NAME=demo-project-b-api
APP_CODE=DEMO_PROJECT_B
DATABASE_URL=postgresql://sso_app_user:password@localhost:5432/demo_project_b

SSO_ISSUER=http://localhost:3000
SSO_CLIENT_ID=demo-project-b-api
SSO_REDIRECT_URI=http://localhost:3002/auth/sso/callback
SSO_POST_LOGOUT_REDIRECT_URI=http://localhost:3002/
SSO_SCOPES=openid profile email offline_access

JWT_ACCESS_SECRET=demo-b-access-secret-change-me
JWT_REFRESH_SECRET=demo-b-refresh-secret-change-me
JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_SECONDS=2592000
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
