NODE_ENV=development
PORT=3001
APP_NAME=demo-project-a-api
APP_CODE=DEMO_PROJECT_A
DATABASE_URL=postgresql://sso_app_user:password@localhost:5432/demo_project_a

SSO_ISSUER=http://localhost:3000
SSO_CLIENT_ID=demo-project-a-api
SSO_REDIRECT_URI=http://localhost:3001/auth/sso/callback
SSO_POST_LOGOUT_REDIRECT_URI=http://localhost:3001/
SSO_SCOPES=openid profile email offline_access

JWT_ACCESS_SECRET=demo-a-access-secret-change-me
JWT_REFRESH_SECRET=demo-a-refresh-secret-change-me
JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_SECONDS=2592000
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
